<!doctype html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sumukh Shirodker</title>
    <link href="{% static 'styles/style.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Sumukh Shirodker</h1>
        <p>Python.C.Nodejs.PHP.C++</p>
    </header>
    <div class="images">
        <center>
            <img src="{% static 'img/fir.jpg' %}">
            <h1>Sumukh Shirodker.</h1>
        <textarea style="height:250px;width:450px;">
        //Basic C program
        #include<stdio.h>
        void main(){
            printf("Hello World!");
        }
        </textarea>
        </center>
    </div>
</body>
</html>